@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

html, body {
	margin: 0px;
	background-color: #222;
}

div#whatdididowrongwithmylife {
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

div#links {
	width: 1200px;
	margin: auto auto;
}

div#links div#basic, div#links div#chans {
	height: 350px;
	width: 47%;
	background-color: #262626;
	display: inline-block;
	margin: 0px 10px;
	overflow: hidden;
}

div#links div#basic div#mail {
	padding: 30px;
	background-color: #222;
	width: 200px;
}

div#links div#basic div#mail i {
	font-size: 45px;
	opacity: .6;
	transition: .5s opacity;
}

div#links div#basic div#mail i:hover {
	opacity: 1;
}

div#links div#basic div#misc {
	padding: 30px;
	background-color: #222;
	width: 200px;
	position: absolute;
	bottom: 84px;
	left: 225px;
}

div#links div#basic div#misc i {
	font-size: 45px;
	opacity: .6;
	transition: .5s opacity;
}

div#links div#basic div#misc i:hover {
	opacity: 1;
}

div#links div#chans ul {
	margin-top: 43px;
}

div#links div#chans ul a {
	text-decoration: none;
}

div#links div#chans ul a li {
	color: #3E3E3E;
	background-color: #222;
	padding: 15px;
	width: 450px;
	text-decoration: none;
	margin-bottom: 5px;
	transition: .5s background-color;
	font-family: 'Ubuntu Mono', monospace;
}

a {
	outline: none;
}

div#links div#chans ul a li:hover {
	background-color: #262626;
}

div#links div#chans ul a li span {
	color: #303030;
}

.search {
	width: 1143px;
	height: 50px;
	margin-right: 0px;
	margin-top: 20px;
	padding: 5px;
	background: #262626;
	font-family: "Roboto", "Consolas", "Helvetica", sans-serif;
	font-size: 30px;
	letter-spacing: 0.5px;
	color: #7d7d7d;
	border: none
}

.search:focus {
	outline: none;
}

div#searchbox {
	width: 1300px;
	border-radius: 5px;
	position: relative;
	margin: 0 auto;
}
