@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Lobster');

:root {
  --color-dark: #211D1B;
  --color-lite: #26221F;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 100px;
	color: var(--color-dark);
	margin-top: 5px;
	cursor: default;
}

html, body {
	margin: 0px;
	background-color: var(--color-dark);
}

div#whatdididowrongwithmylife {
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

div#links {
	width: 1200px;
	margin: auto auto;
}

div#links div#basic, div#links div#chans {
	height: 350px;
	width: 47%;
	background-color: var(--color-lite);
	display: inline-block;
	margin: 0px 10px;
	overflow: hidden;
}

div#links div#basic div#mail {
	padding: 30px;
	background-color: var(--color-dark);
	width: 200px;
}

div#links div#basic div#mail i {
	font-size: 45px;
	opacity: .6;
	transition: .5s opacity;
	letter-spacing: 5px;
}

div#links div#basic div#mail i:hover {
	opacity: 1;
}

div#links div#basic div#misc {
	padding: 30px;
	background-color: var(--color-dark);
	width: 200px;
	position: absolute;
	bottom: 164px;
	left: 225px;
}

div#links div#basic div#misc i {
	font-size: 45px;
	opacity: .6;
	transition: .5s opacity;
	letter-spacing: 5px;
}

div#links div#basic div#misc i:hover {
	opacity: 1;
}

div#links div#chans ul {
	margin-top: 43px;
}

div#links div#chans ul a {
	text-decoration: none;
}

div#links div#chans ul a li {
	color: #3E3E3E;
	background-color: var(--color-dark);
	padding: 15px;
	width: 450px;
	text-decoration: none;
	margin-bottom: 5px;
	transition: .5s background-color;
	font-family: 'Ubuntu Mono', monospace;
}

a {
	outline: none;
}

div#links div#chans ul a li:hover {
	background-color: var(--color-lite);
}

div#links div#chans ul a li span {
	color: #303030;
}

.search {
	width: 1123px;
	height: 50px;
	margin-right: 0px;
	margin-top: 20px;
	padding: 5px;
	background: var(--color-lite);
	font-family: "Roboto", "Consolas", "Helvetica", sans-serif;
	font-size: 30px;
	letter-spacing: 0.5px;
	color: #7d7d7d;
	border: none;
	border-left: 20px solid var(--color-lite);
}

.search:focus {
	outline: none;
}

div#searchbox {
	width: 1300px;
	border-radius: 5px;
	position: relative;
	margin: 0 auto;
}


/* http://stackoverflow.com/users/299509/toscho */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #333;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #333;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #333;
}

/* http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css */

body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}